/* Theme */

main {
	background: #000000;
	color: #808080;
}

i[class^='fab fa-'], [class^='fas fa-'] {
    color: grey;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}
